{{page-title 'luke-eldridge.com'}}

<div class='app'>
  <div id='game-container' class={{if this.gameRunning 'game-running' ''}}>
    <canvas height='100' id='game-canvas'>
    </canvas>
    <div id='in-game-buttons'>
      <div class='horizontal-stack'>
        <button id='exit-game-button' {{on 'click' this.stopGame}}>
          Exit Game
        </button>
        <p id='game-controls-text'>a: move left, d: move right, w: jump</p>
      </div>
    </div>
  </div>
  <nav>
    <button
      class='nav-item {{if this.gameRunning 'hidden' ''}}'
      id='start-game-button'
      {{on 'click' this.startGame}}
    >
      <img id='luke-image' src='assets/me.png' alt='luke' />
    </button>
    <h1 class='nav-item'>Luke Eldridge</h1>
    <LinkTo class='nav-item' @route='index' @current-when='index'>Home</LinkTo>
    <LinkTo
      class='nav-item'
      @route='projects'
      @current-when='projects'
    >Projects</LinkTo>
  </nav>
  <div class='page'>
    {{outlet}}
  </div>
</div>